@use "../../assets/style/variables" as *;
@use "../../assets/style/mixins" as *;

.line {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 8px;

  .first_line,
  .second_line {
    content: "";
    height: 1px;
    width: 100%;
    background-color: $line-outline;
  }
}

.text_login {
  span {
    b {
      color: $primary-background-color;
      cursor: pointer;
    }
  }
}

.customBorder {
  border: 1px solid $primary-background-color;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

@media(max-width:768px) {
  .customBorder {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0px;

  }
}