$primary-background-color : #4D194D ; 
$btn-text-purple: #B44CB4;

//Border radius
$btn-medium-br: 16px ;
//Form outline
$input-outline:#6A6A6A ;
$line-outline :#B6B6B6;
$grey-icon: #242B35;
$netural-grey-text:#505050;
$error-text-outline-color:#B70404;