@use "../assets/style/mixins" as *;
body{
background-color: white !important;
overflow-x: hidden;
.main_container{
    color: white !important;
    background-color: white;
    @include font-inter();
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 80px;
    
    header {
        flex-shrink: 0; /* Prevents the header from shrinking */
    }
    main {
        flex-grow: 1; /* Takes all available space */
        overflow-y: auto; /* Allows scrolling if content overflows */
        display: flex;
        justify-content: center;
    }
    
}
}