@use "../../assets/style/variables" as *;

.header {
    background-color: $primary-background-color;
    padding: 20px 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative; // For absolutely positioned menu on mobile

    // New container for logo and nav
    .logoAndNav {
        display: flex;
        align-items: center;
        gap: 50px;
    }

    .logoImage {
        /* Add your logo image styling */
        max-width: 100%;
        height: auto;
    }

    .nav_menu {
        // Default hidden on mobile; you can set display for desktop if needed.
        display: block;
        .logout_item{
            display: none;
        }
    }

    .navMenuList {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        gap: 20px;
        flex-direction: row;
    }

    .button,
    .logout {
        background-color: white;
        padding: 5px 15px;
        color: $btn-text-purple;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        font-size: 14px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        z-index: 10000;
        
        &:hover {
            transform: translateY(-2px);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
    }

    .nav_item {
        font-size: 18px;
        cursor: pointer;
        padding: 5px 0;
        transition: transform 0.3s ease, color 0.3s ease;

        &:hover {
            transform: scale(1.05);
            color: $btn-text-purple;
        }
    }

    .toggleNavMenu {
        display: none;
        cursor: pointer;
        transition: transform 0.3s ease;
        font-size: 30px;
    }

    .actions {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .icon {
        font-size: 28px;
        cursor: pointer;
    }

    .iconSmall {
        font-size: 24px;
        cursor: pointer;
    }

    .toggleButton {
        background: none;
        border: none;
        cursor: pointer;
    }
    .imgUser{
        border-radius: 99px;
        height: 50px;
        width: 50px;
    }
}

// Responsive styles
@media (max-width: 1024px) {
    .header {
        .nav_item {
            font-size: 16px;
        }
    }
}

@media (min-width: 769px) {
    .buttonLogout {
        display: inline-flex; /* or flex, block, etc. depending on your design */
        visibility: visible;
        opacity: 1;
        height: auto;
    }
}

@media (max-width: 768px) {
    .buttonLogout {
        display: none !important; /* Completely hides it without taking space */
    }

    .header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 30px;
        gap: 30px;

        .toggleNavMenu {
            display: block;
        }
        
        .nav_menu {
            display: none;
            .logout_item{
                display: block;
            }
        }
        
        .show {
            display: flex;
            position: absolute;
            top: 160px;
            left: 0;
            background-color: $primary-background-color;
            width: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 20px;
            gap: 10px;
            z-index: 1000;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 4px;
            opacity: 1;
            transform: translateY(0);
            transition: opacity 0.3s ease-out, transform 0.3s ease-out;
        }
        
        .navMenuList {
            flex-direction: column;
        }
    }
}

@media (max-width: 425px) {
    .header {
        .nav_item {
            font-size: 14px;
        }
        .actions {
            gap: 5px;
        }
    }
}
