@use "../../../../assets/style/mixins" as *; 
@use "../../../../assets/style/variables" as *; 

.titleRandom {
    @include font-montserrat(48px, 700, 1.2, 39px);
    text-align: center;
}

.eventContainer {
    min-height: 256px; // Changed from max-height to min-height for flexibility
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    img {
        max-height: 256px;
    }
}

.textEvent {
    @include font-montserrat(13px);
}

.textStyle {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;

    p {
        @include font-montserrat(18px, 700, normal, 3px);
        max-width: 500px;
        text-align: start;
        display: flex;
    }

    button {
        background-color: white;
        border-radius: 16px;
        border: 1px solid $primary-background-color;
        padding:10px 40px;
        color: $primary-background-color;
        @include font-inter(24px, 600);
        text-transform: uppercase;
        text-align: center;
    }
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .titleRandom {
        @include font-montserrat(24px, 700, 1.2, 39px);
    }
    .textStyle button {
        padding: 7px 20px;
        @include font-inter(16px, 600);
    }
}

@media (max-width: 460px) {
    .titleRandom {
        @include font-montserrat(20px, 700, 1.2, 10px);
    }

    .textStyle p {
        @include font-montserrat(14px, 700, normal, 3px);
    }
}
