@use "../../assets/style/variables" as *;
@use "../../assets/style/mixins" as *;

.sectionCatalog {
    h1 {
        @include font-montserrat(6rem, 800 !important);
        text-transform: uppercase;
        color: $primary-background-color !important;
        opacity: 70%;
    } 
}
@media(max-width:768px){
    .sectionCatalog{
        h1 {
            @include font-montserrat(3rem, 800 !important);

        }
    }
}